footer{

    margin-top:80px;

    background:#111827;

    color:white;

    padding:60px 20px;

    text-align:center;

}

footer h2{

    margin-bottom:15px;

}

footer p{

    color:#cbd5e1;

    margin-bottom:12px;

}

footer small{

    color:#94a3b8;

}