.hero{

    height:65vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:linear-gradient(

        135deg,

        #2563eb,

        #4f46e5,

        #7c3aed

    );

    border-radius:30px;

    color:white;

    margin-top:35px;

    overflow:hidden;

}

.hero-content{

    width:min(800px,90%);

}

.hero-badge{

    display:inline-block;

    padding:10px 22px;

    background:rgba(255,255,255,.2);

    border-radius:50px;

    margin-bottom:20px;

    font-weight:600;

}

.hero h1{

    font-size:58px;

    margin-bottom:20px;

    line-height:1.2;

}

.hero h1 span{

    color:#FFD54F;

}

.hero p{

    font-size:18px;

    opacity:.9;

    line-height:1.8;

    margin-bottom:35px;

}

.hero button{

    padding:16px 40px;

    border:none;

    border-radius:50px;

    background:white;

    color:#2563eb;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.hero button:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}